body {
  width: 348px;
  padding: 20px;
  background-color: #fff;
  color: #1f243c;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-bottom: 20px;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
}

.chat-screen {
  width: 100%;
}

/* Chat bubbles styling */
.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
  max-width: 70%; /* Limiting message width */
}

.user {
  align-self: flex-end;
  background-color: #007ACC; /* User message bubble color */
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.AI {
  align-self: flex-start;
  background-color: #E5E5EA; /* AI message bubble color */
  border-radius: 10px;
  padding: 10px;
}
