<style>
            input[type="text"], input[type="date"], input[type="number"], button {
            font-size: 16px;
            padding: 10px;
            margin: 5px 0;
            border: none;
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle drop shadow */
        }

        button {
            background-color: #007aff; /* Apple's default blue */
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #005ecb;
        }

        .gantt-chart {
            width: 100%;
            border-collapse: collapse;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .gantt-chart th, .gantt-chart td {
            border: 1px solid #ddd; /* Light borders for the table */
            padding: 8px;
            text-align: left;
        }

        .gantt-chart th {
            background-color: #f8f8f8; /* Light grey background for headers */
            color: #333;
        }

        .gantt-bar {
            background-color: #4CAF50; /* Green color for Gantt bars */
            color: white;
            text-align: center;
            border-radius: 5px; /* Slightly rounded corners for bars */
        }
        input, select {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f8f8;
}

button {
    background-color: #007bff;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}

h2 {
    color: #333;
}

#tasksContainer {
    margin-bottom: 20px;
}

.task {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.task input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f8f8;
}

.task button {
    background-color: #dc3545;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.task button:hover {
    background-color: #c82333;
}

#kickoffDateSection {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
#excludedDatesList {
    margin-top: 20px;
}

#excludedDatesDisplay li {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
}

    </style>